/* FOOTER */
.footer {
    background: #062247;
    color: #ffffff;
    width: 100%;
    margin-top: 80px;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

/* GARIS ORANYE ATAS */
.footer-top-border {
    height: 10px;
    background: #FF8C42;
    width: 100%;
}

/* GARIS ORANYE BAWAH */
.footer-bottom-border {
    height: 6px;
    background: #FF8C42;
    width: 100%;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 0.8fr 0.8fr 1.4fr;
    gap: 45px;
    padding: 50px 60px;
}

.footer-col ul {
    list-style: none;      
    padding-left: 0;        
}

/* BULLET PUTIH CUSTOM */
.footer-col ul li {
    position: relative;
    padding-left: 14px;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-col ul li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}

/* Menu warna putih */
.footer-col a {
    color: #ffffff;        
    text-decoration: none; 
}

.footer-col a:hover {
    color: #FF8C42;       
}

/* MAP */
.footer-map {
  width: 360px;
  height: 210px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* KONTAK */
.footer-right p {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
}

.footer-right p img {
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

/* BOTTOM */
.footer-bottom {
    background: #031526;
    padding: 12px 0;
    text-align: center;
    font-size: 13px;
    color: #ddd;
}


/* RESPONSIVE */
@media (max-width: 1100px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        padding: 40px 30px;
    }

    .footer {
        border-radius: 20px 20px 0 0;
    }

    .footer-map {
        height: 150px;
    }
}