.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
}

/* Card */
.produk-card {
  background: #ffa954;
  border-radius: 20px;
  margin-bottom: 25px;
  overflow: hidden;
}

.toggle {
  display: none;
}

/* Header */
.produk-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 25px;
  cursor: pointer;
}

.produk-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.produk-logo {
  width: 130px;
  height: 90px;
  object-fit: contain;
}

.produk-title {
  font-size: 24px;
  font-weight: 700;
}

.simple-arrow{
  display: inline-block;
  width: 12px;
  height: 12px;
  border: solid #000000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease-out;
  margin-top: 10px;
  margin-right: 15px;
}


/* Dropdown */
.produk-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 25px;
}

.toggle:checked ~ .produk-content {
  max-height: 500px;
  padding: 25px;
}

.toggle:checked + label .icon {
  transform: rotate(180deg);
}

/* Text */
.produk-content p {
  text-align: center;
}

/* Button */
.btn-gunakan {
  display: block;
  margin: 20px auto 0;
  width: 180px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to right, #083c5d, #0c607d);
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}