:root{
  --bg:#ffffff; 
  --accent:#2b5363; 
  /* --muted:#f3efef;  */
  --container:1100px;
  --card-radius:12px;
  --gutter:24px;
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
}

*{box-sizing:border-box}

body{
  margin:0;
  background:linear-gradient(180deg,#092742 0%, #062c3a 6%, rgba(0,0,0,0) 6%), var(--bg);
  color:#24343a;
  -webkit-font-smoothing:antialiased;
  background: var(--bg);
}

/* NAVBAR MELENGKUNG */
.navbar {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 1;
  margin-top: 2px;
}

.nav-bg svg {
  width: 100%;
  height: 100%;
  display: block;
}

.nav-content {
  position: relative;
  z-index: 10;
  width: 1100px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo img {
  height: 55px;
  position: relative;
  z-index: 20;
  top: -10px;
}

/* MENU */
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
  z-index: 30;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #08385F;
  font-weight: 600;
  font-size: 20px;
  transition: 0.25s;
}

nav a:hover {
  color: #FF8A00;
}

/* HERO */
.hero{
  position:relative;
  height:300px;
  display:flex;
  align-items:center;
  justify-content:center;
  background: #2b5363; 
  overflow: hidden;
}

.hero img{
  position:absolute;
  inset:0;
  width:100%;
  height:100%;
  object-fit:cover;
  filter:contrast(0.9) saturate(0.9) blur(1.5px);;
}

.hero h1{
  position:relative;
  color:white;
  letter-spacing:4px;
  font-size:80px;
  text-shadow:0 6px 18px rgba(0,0,0,0.45);
}

/* Responsive */
@media (max-width: 768px) {
  .form-row {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .registration-form {
    padding: 30px 20px;
  }
  
  .hero h1 {
    font-size: 48px;
  }
  
  nav ul {
    gap: 15px;
  }
  
  nav a {
    font-size: 16px;
  }
}